nav {
    background-color: #333;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
  }
  
  .logo {
    margin-left: 100;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .username {
    margin-right: 10px;
  }
  
  #logout-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #logout-btn:hover {
    background-color: #c82333;
  }
  